* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url(img/main.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.logo {
    width: 6rem;
    height: 6rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.herobg {
    position: absolute;
    right: 0;
    /* top: -30rem; */
}